TSYS_API_URL=https://ssl2.vitalps.net/scripts/gateway.dll?transact
TSYS_API_KEY=replace_with_live_or_test_api_key
TSYS_CURRENCY=USD

TSYS_DBA=Get Your Life Back LLC
TSYS_STREET=28 Tindall Rd
TSYS_CITY=Middletown
TSYS_STATE=New Jersey
TSYS_ZIP=07748
TSYS_CUSTOMER_SERVICE_PHONE=+1 800-993-0929

TSYS_MERCHANT_NUMBER=401151759710
TSYS_V_NUMBER=V6298237
TSYS_MCC=5499
TSYS_BIN=494306
TSYS_CHAIN=031776
TSYS_AGENT_BANK=031776
TSYS_STORE_NUMBER=0001
TSYS_TERMINAL_NUMBER=7000
TSYS_LOCATION_NUMBER=00001
